
{{ if .Site.Data.about.enable }}
    <section class="bg-one about section" id="about">
        {{"<!-- about -->" | safeHTML}}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content-block">
                            {{with .Site.Data.about.title}} <h2 class="about-title">{{ . }}</h2> {{ end }}
                            {{with .Site.Data.about.description1}} <p>{{ . }}</p> {{ end }}
                            {{with .Site.Data.about.description2}} <p>{{ . }}</p> {{ end }}
                            {{with .Site.Data.about.description3}} <p>{{ . }}</p> {{ end }}
                            {{with .Site.Data.about.description4}} <p><b>{{ . }}</b></p> {{ end }}
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        {{"<!-- section title -->" | safeHTML}}
                        <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                            <h2>{{ .Site.Data.about.heading}} <span class="color">{{ .Site.Data.about.headingSpan}}</span> </h2>
                            <div class="border-meghna"></div>
                        </div>
                    </div>
                </div>
                {{"<!-- /section title -->" | safeHTML}}
                
                <div class="row">
                        {{ range .Site.Data.about.aboutItem }}
                        {{"<!-- About item -->" | safeHTML}}
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="500ms">
                            <div class="block">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="text-center">{{with .picto}} <img src="{{ . }}" alt="" /> {{ end }}</div>
                                        {{with .title}} <h3 class="media-heading text-center">{{ . }}</h3>{{ end }}
                                        {{ with .content}} <p>{{ . }}</p> {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                </div>
            </div>
        {{"<!-- /about -->" | safeHTML}}
        </section>
    {{ end }}